<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${longdate}|${threadid}|${level:uppercase=true}| ${message}"/>
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <target name="file" xsi:type="File"
            layout="${longdate} | ${threadid} | ${level:uppercase=true} |  ${message}"
            keepFileOpen="false"
            concurrentWrites="true"
            fileName="${basedir}/Logs/App.log"
            archiveAboveSize="1048576"
            maxArchiveFiles="20"
            archiveEvery="Day"
            archiveFileName="${basedir}/Logs/App_{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" writeTo="file"/>
  </rules>
</nlog>
